{{- define "main" -}}
<div class="wrapper list-page">

{{ if eq site.Params.digitalGarden false }}              
     <header class="header">
        <h1 class="header-title center">{{ .Title }}</h1>
    </header>
{{ end }}

    <main class="page-content" aria-label="Content">
        {{ range .Pages.GroupByDate "2006" }}
        {{ $year := .Key }}
        
     {{ if eq site.Params.digitalGarden false }}              
        <h2 class="post-year">{{ $year }}</h2>
     {{ end }}
     
        {{/* create a list of posts for each month, with month as heading */}}

        {{ range .Pages }}

        {{ partial "postCard" . }}

        {{ end }} {{/* end range .Pages */}}

        {{ end }} {{/* end range .Pages.GroupByDate "2006" */}}

    </main>
</div>
{{- end -}}
